body {
  margin: 0;
}

.wrapper {
  display: flex;
} 

.container h2 {
  color: white;
  margin: 3px 0 2px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: darkgreen;
  padding: 2/3rem;
  margin: 1rem;
  min-width: 300px;
  min-height: 400px;
}

.draggable {
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border: 1px solid lightgreen;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}